.accordion {
    margin-bottom: 1rem;
    .card {
        box-shadow: 0px 2px 4px rgba(0,0,0,0.1);

        @media print {
            border: solid 1px var(--card-border);
            display: block;
            page-break-inside: avoid;
        }
    }
    .card-header {
        background-color: white;
        padding: 2px;
        .btn-link {
            span {
                background-image: none;
                color: var(--body);

                &:first-of-type {
                    width: calc(100% - 34px);
                }

                &:last-of-type {
                    width: 34px;
                    text-align: right;
                }
            }
        }
        h2.mb-0 button {
            padding: 0.5rem 1rem;
            margin: 0;
            color: var(--body);
            font-weight: 600;
            border-radius: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.collapsed {
                .bi-dash::before {
                    content: "\f4fe";
                }
            }
        }
    }

    .card-body {
        padding: 1rem;

        *:last-of-type {
            margin-bottom: 0;
        }
    }
    &--small {
        .card-header {
            h2.mb-0 button {
                @extend h4
            }
        }
    }
    &--large {
        .card-header {
            h2.mb-0 button {
                @extend h3
            }
        }
    }
}