/*  ================= Colour Note =================
 * root colours are based for the dark theme to be the default option on page load */


:root {
    /* ================= text colours ================= */
    --body: #212529;
    --muted: #727272;
    --reverse: #D7DFE7;

    /* ================= style colours ================= */
    --primary: #00162C;
    --secondary: #002244;
    --tertiary: #0066A1;
    --success: #1A8633;
    --info: #0066A1;
    --light: #F8F9FA;
    --white: #FFFFFF;
    --black: #000000;
    --light-blue: #6AADE4;

    --white-transparent: rgba(255, 255, 255, 0.1);
    --primary-transparent: rgba(0, 22, 44, 0.5);
    --secondary-transparent: rgba(0, 34, 68, 0.5);

    --lt-secondary: #EBF2F5;

    /* ================= brand colours ================= */
    --orange: #D25F2A;
    --light-brown-tint: #F4F2EF;
    --light-brown: #A59D95;
    --c-i-border: #DEE2E6;
    --blue-gradient: linear-gradient(34.44deg, rgba(255, 255, 255, 0.2) 12.9%, rgba(255, 255, 255, 0) 60.59%), #002244;
    --orange-gradient: linear-gradient(34.44deg, rgba(255, 255, 255, 0.2) 12.9%, rgba(255, 255, 255, 0) 60.59%), #D25F2A;

    /* ================= components ================= */
    --card-border: #A59D95;
    --img-border: #DEE2E6;
    --input-border: #A59D95;
}

.blue-gradient {
    background: var(--blue-gradient);
}

.orange-gradient {
    background: var(--orange-gradient);
}

.bg-light-brown-tint {
    background-color: var(--light-brown-tint);
}





/* ================= Light Theme Colour Adjustments ================= */
.light-theme {
    footer, .need-help {
        --body: #FFF;

        @media print {
            --body: #212529;
        }
    }
}



