:root {
    --card-padding: 1.25rem;
    @media (min-width: 768px) {
        --card-padding: 1.875rem;
    }
}

.callout {
    margin-bottom: 0;
    border-top: solid 1px var(--reverse);
    padding: 2rem 0;
    background-color: var(--secondary);
    
    &--helpful {
        @extend .callout;

        .light-theme & {
            background-color: var(--white);
        }
    }
    &--box {
        padding: 1.5rem;
    }

    &--grey {
        background-color: var(--light);
    }

    &--no-border {
        border-top: 0;
    }

    .light-theme & {
        background-color: var(--lt-secondary);
    }
}

.question-modal {
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px var(--c-i-border);
    margin: 1rem auto;
    @media(min-width: 768px) {
        margin: 2rem auto;
    }

    &--individual {
        @extend .question-modal;
        padding-top: var(--card-padding);
        .question__q {
            margin-top: -0.75rem;
        }
        margin: 0 auto 2rem auto;
        &--skipped {
            opacity: 0.75;
        }
    }
    .question__desc {
        padding: 0.5rem var(--card-padding);
        border-bottom: solid 1px var(--c-i-border);
    }

    .question__content {
        padding: 0 var(--card-padding) var(--card-padding);
        button, select, input {
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }
        .form-check {
            margin-bottom: 0.5rem;
        }
        .helper button {
            margin-bottom: 0;
        }
    }

    .question__progress {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        @media(min-width: 768px) {
            align-items: center;
        }

        p {
            margin-bottom: 4px;
        }
    }

    .question__progress-bar {
        width: 100%;
        height: 6px;
        background-color: var(--light-brown-tint);
        max-width: 265px;
        @media(min-width: 768px) {
            margin-left: 0.625rem;
        }
        margin-bottom: 1rem;
        @media(min-width: 768px) {
            margin-bottom: 4px;
        }
        border-radius: 6px;
        overflow: hidden;
        position: relative;

        .bar {
            display: block;
            position: absolute;
            background-color: var(--success);
            height: 100%;
            top: 0;
            left: 0;
            transition: 0.35s ease all;
        }
    }

    .question__q {
        margin-bottom: 1.5rem;

        &.p-with-icon {
            padding: 0;

            &::before {
                padding: 0 0.625rem 0 0;
            }
        }
    }
}

.question__progress--large {
    padding: 2rem 0;
}

.question__progress-bar--large {
    background-color: var(--light-brown-tint);
    height: 0.75rem;
    border-radius: 0.375rem;
    position: relative;
    overflow: hidden;
    .bar {
        display: block;
        position: absolute;
        background-color: var(--success);
        height: 100%;
        top: 0;
        left: 0;
        transition: 0.35s ease all;
    }
}