.dashboard-panel {
    background-color: var(--light-brown-tint);
    width: 12.5rem;
    padding: 2rem 0.5rem 2rem 1.9375rem;
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -1000px;
        width: 1000px;
        height: 100%;
        background-color: var(--light-brown-tint);
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        .btn {
            padding: 0.5rem;
            font-size: 0.875rem;
            text-align: left;
            line-height: 115%;
            display: block;
            width: 100%;
            border-radius: 6px;

            &::before {
                font-size: 0.875rem;
            }
        }
    }

    >ul {
        >li {
            border-bottom: solid 1px var(--c-i-border);
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;

            >ul {
                >li {
                    margin-bottom: 0.5rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    aside {
        padding: 0.5rem;
    }

    .is-selected {
        background: white;
    }

    @media (max-width: 992px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        display: block;
        z-index: 999;
        padding: 5rem 2rem 2rem;
        pointer-events: none;
        opacity: 0;
        transition: 0.25s ease all;

        .close-dashboard-filters {
            position: absolute;
            top: 2rem;
            right: 1.25rem;
            margin: 0;
        }

        &.is-open {
            pointer-events: initial;
            opacity: 1;
        }

    }
}