---
import { marked } from 'marked'
import { gfmHeadingId } from 'marked-gfm-heading-id'
import { getLangFromUrl } from '../i18n/utils'
import Layout from '../layouts/Layout.astro'
import { contentfulClient } from '../lib/contentful'
import type { TypeResourcesSkeleton } from '../types/contentful/TypeResources'
import type { Entry } from 'contentful'
import Feedback from '../components/Feedback.astro'
import Resources from '../components/Resources.astro'

export async function getStaticPaths() {
  let paths = []
  const LOCALES = ['en-CA', 'fr-CA']
  for (const locale of LOCALES) {
    const resourcesRes =
      await contentfulClient.getEntries<TypeResourcesSkeleton>({
        content_type: 'resources',
        locale
      })

    const resources = resourcesRes.items
    const allitems = [...resources]
    for (const i of resources) {
      const others = allitems.filter((f) => f.fields.slug !== i.fields.slug)
      paths.push({
        params: {
          resource: `${locale === 'en-CA' ? 'resource/' : 'fr/resource/'}${i.fields.slug}`
        },
        props: { page: { ...i }, others }
      })
    }
  }
  return paths
}

const options = {
  prefix: 'my-prefix-'
}

marked.use(gfmHeadingId(options))

const lang = getLangFromUrl(Astro.url)
// const t = useTranslations(lang)

const page = Astro.props.page as Entry<TypeResourcesSkeleton>
---

<Layout
  title={page?.fields.title as string}
  description={''}
  className='resource'
>
  <main
    class='resource page'
    id='maincontent'
    data-page-title={page?.fields.title as string}
    data-page-category='resource'
  >
    <div class='container'>
      <section class='section'>
        <div class='row justify-content-md-center'>
          <div class='col-12 col-md-10'>
            <h1>
              <strong>{page?.fields.title as string}</strong>RESOURCE PAGE
            </h1>
            <p class='large'>
              {page?.fields.lead as string}
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class='xbg-white lt-border-t-light'>
      <div class='container'>
        <section class='section'>
          <div class='row justify-content-md-center'>
            <div class='col-12'>
              <div class='js-accordion'>
                <div set:html={marked(page?.fields.content1 as string)} />
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <Resources />
    <Feedback />
  </main>
</Layout>

<script>
  import accordion from '../lib/accordion'

  accordion('.js-accordion h2', 'H2', 2)
  accordion('.js-accordion h3', 'H3', 3)
</script>
