---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import { contentfulClient } from '../lib/contentful'
import { marked } from 'marked'
import type { TypeFooterProsperAboutSkeleton } from '../types/contentful/TypeFooterProsperAbout'
import makeUrl from '../lib/helpers'
import PCLogoFooter from './header/UI/PCLogoFooter.astro'

const lang = getLangFromUrl(Astro.url)
const locale = lang === 'fr' ? 'fr-CA' : 'en-CA'
const t = useTranslations(lang)

const res = await contentfulClient.getEntries<TypeFooterProsperAboutSkeleton>({
  skip: 0,
  limit: 1,
  content_type: 'footerProsperAbout',
  locale
})

let about = res.items[0]?.fields

const base = import.meta.env.BASE_URL
---

<footer class='d-print-none'>
  <div class='container'>
    <div class='row'>
      <div class='col-12 col-sm-12'>
        <div class='d-flex justify-content-between flex-wrap'>
          <PCLogoFooter />
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-12 col-sm-12'>
        <p class='mt-4'></p>
        <div set:html={marked(about?.content as string)} />
        <div class='mb-4'></div>
      </div>
    </div>
    <div class='row' aria-label='Site footer'>
      <div class='col-12 col-sm-6 col-md-4'>
        <ul>
          <li>
            <a class='small' href={`${makeUrl(base, locale)}`}>{t('home')}</a>
          </li>
          <li>
            <a
              class='small'
              href={`${makeUrl(base, locale, '#four-key-disability-benefits')}`}
            >
              {t('menuDisabilityBen')}
            </a>
          </li>
          <li>
            <a
              class='small'
              href='https://benefitswayfinder.org/search?size=n_6_n&filters%5B0%5D%5Bfield%5D=tags&filters%5B0%5D%5Bvalues%5D%5B0%5D=Disability&filters%5B0%5D%5Btype%5D=any'
            >
              {t('menuSearch')}
            </a>
          </li>
          <li>
            <a class='small' href={`${makeUrl(base, locale, 'disclaimer')}`}>
              {t('disclaimer')}
            </a>
          </li>
        </ul>
      </div>
      <div class='col-12 col-sm-6 col-md-4'>
        <ul>
          <li>
            <a class='small' href={`${makeUrl(base, locale, 'help')}`}>
              {t('menuHelp')}
            </a>
          </li>
          <li>
            <a
              class='small'
              href={`${makeUrl(base, locale, 'how-to-use-this-website')}`}
            >
              {t('useSite')}
            </a>
          </li>
          <li>
            <a class='small' href={`${makeUrl(base, locale, 'about')}`}
              >{t('aboutLong')}</a
            >
          </li>
          <li>
            <a
              class='small'
              href={`${makeUrl(base, locale, 'share-this-tool')}`}
              >{t('embedTitle')}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class='col-12 col-sm-12'>
        <div class='mb-4'></div>
        <div set:html={marked(about?.footnote as string)} />
        <p class='xsmall mt-3'>
          {t('copyright')}
          {new Date().getFullYear()}
        </p>
      </div>
    </div>
  </div>
</footer>
