---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import { contentfulClient } from '../lib/contentful'
import { marked } from 'marked'
import type { TypeFooterProsperAboutSkeleton } from '../types/contentful/TypeFooterProsperAbout'
import makeUrl from '../lib/helpers'

const lang = getLangFromUrl(Astro.url)
const locale = lang === 'fr' ? 'fr-CA' : 'en-CA'
const t = useTranslations(lang)

const res = await contentfulClient.getEntries<TypeFooterProsperAboutSkeleton>({
  skip: 0,
  limit: 1,
  content_type: 'footerProsperAbout',
  locale
})

let about = res.items[0]?.fields

const base = import.meta.env.BASE_URL
---

<footer class='d-print-none'>
  <div class='container'>
    <div class='row'>
      <div class='col-12 col-sm-12'>
        <div class='d-flex justify-content-between flex-wrap'>
          <a
            href='https://prospercanada.org.org/'
            target='_blank'
            rel='noopener noreferrer'
            ><svg
              width='200'
              height='48'
              viewBox='0 0 200 48'
              fill='none'
              xmlns='http://www.w3.org/2000/svg'
            >
              <title>{t('altPClogo')}</title>
              <g clip-path='url(#clip0)'
                ><path
                  d='M34.1451 17.6567C32.1362 20.6372 30.1691 23.6178 27.7131 25.7817C19.8147 32.8396 10.3842 33.1615 5.06101 29.4835C13.2754 11.6181 34.1451 17.6567 34.1451 17.6567ZM52.2727 4.16679C52.2727 4.16679 22.9979 -8.63759 6.0267 10.6405C3.29794 13.8043 1.53696 17.6864 0.953827 21.8235C1.00152 21.7818 13.0608 11.6181 34.151 17.6507C38.3715 11.338 42.7827 4.72117 52.2727 4.16679Z'
                  fill='url(#paint0_radial)'></path><path
                  class='pro-logo__text'
                  d='M51.1162 25.7339H48.4278V31.8022H45.8049V15.8921H50.0373C52.3561 15.8921 53.2085 16.1246 54.0789 16.6552C54.7699 17.0626 55.3376 17.6497 55.7218 18.354C56.1059 19.0582 56.2921 19.8534 56.2606 20.655C56.2606 23.7786 53.9895 25.7339 51.1162 25.7339ZM48.4278 18.062V23.6475H50.4963C52.4455 23.6475 53.3457 22.7295 53.3457 20.8458C53.3994 20.1199 53.1685 19.4015 52.7019 18.8429C52.4102 18.5643 52.0629 18.3507 51.6827 18.2161C51.3026 18.0815 50.8982 18.029 50.4963 18.062H48.4278Z'
                ></path><path
                  class='pro-logo__text'
                  d='M63.551 22.3779C63.3258 22.2768 63.0825 22.2221 62.8357 22.2169C62.3337 22.2259 61.8484 22.3992 61.4543 22.7104C61.0602 23.0216 60.7791 23.4534 60.654 23.9397V31.8024H58.1265V23.594C58.1698 22.5364 58.0286 21.4794 57.7092 20.4704L60.034 19.8742C60.3197 20.4463 60.4686 21.0768 60.4692 21.7162C61.3872 20.4525 62.3111 19.8564 63.4497 19.8564C63.7578 19.8428 64.0646 19.9042 64.3439 20.0352L63.551 22.3779Z'
                ></path><path
                  class='pro-logo__text'
                  d='M75.4613 26.032C75.4613 29.7756 73.4583 32.1004 70.3109 32.1004C67.1634 32.1004 65.1844 29.7159 65.1844 26.0082C65.1844 22.3004 67.1873 19.8921 70.2632 19.8921C73.5716 19.8921 75.4613 22.354 75.4613 26.032ZM67.9861 25.8472C67.9861 29.2271 68.8385 30.2167 70.3705 30.2167C71.9025 30.2167 72.6893 28.9947 72.6893 26.0797C72.6893 22.7892 71.7713 21.7996 70.3049 21.7996C68.6775 21.7996 67.9861 23.0217 67.9861 25.8472Z'
                ></path><path
                  class='pro-logo__text'
                  d='M81.9171 32.1242C80.3463 32.0754 78.8131 31.6326 77.4582 30.8366L78.3583 29.0184C79.4967 29.7201 80.7909 30.1296 82.1257 30.2107C83.2285 30.2107 84.0094 29.549 84.0094 28.5833C84.0094 27.6176 83.4133 27.2242 82.1257 26.95L80.7248 26.6519C78.9782 26.2823 77.941 25.0901 77.941 23.4568C77.941 21.275 79.6876 19.7549 82.2628 19.7549C83.6075 19.7635 84.9281 20.1121 86.1017 20.7683L85.2731 22.5149C84.4124 21.9907 83.431 21.6971 82.4238 21.6625C81.3448 21.6625 80.6354 22.2586 80.6354 23.1587C80.6354 23.8681 81.0289 24.2377 82.1972 24.5357L83.6458 24.9053C85.9944 25.5014 86.6263 26.789 86.6263 28.1422C86.6323 30.5147 84.7128 32.1242 81.9171 32.1242Z'
                ></path><path
                  class='pro-logo__text'
                  d='M94.3459 32.0288C93.347 32.0294 92.3761 31.6981 91.5859 31.087C91.5859 31.087 91.6336 31.5936 91.6336 32.2374V36.1241L89.1955 36.7202V23.1826C89.2258 22.2115 89.1498 21.2401 88.969 20.2855L91.27 19.8503C91.4009 20.3136 91.4632 20.7937 91.4548 21.275C91.8378 20.8289 92.315 20.4734 92.8521 20.2343C93.3892 19.9951 93.9727 19.8782 94.5605 19.8921C96.9032 19.8921 98.9479 21.6804 98.9479 25.7101C98.9657 29.5907 97.3145 32.0288 94.3459 32.0288ZM91.6336 23.2064V28.9946C92.1968 29.6028 92.9706 29.9737 93.7975 30.0318C95.4964 30.0318 96.2534 28.7681 96.2534 26.0081C96.2534 23.4091 95.7468 22.0082 94.0955 22.0082C93.6226 22.0163 93.1572 22.1278 92.7319 22.3348C92.3066 22.5417 91.9318 22.8392 91.6336 23.2064Z'
                ></path><path
                  class='pro-logo__text'
                  d='M104.384 26.6759V26.8606C104.384 28.4701 104.981 30.169 107.258 30.169C108.332 30.1618 109.364 29.7512 110.149 29.0186L111.138 30.5565C109.983 31.5643 108.499 32.1136 106.966 32.1004C103.681 32.1004 101.601 29.716 101.601 26.0082C101.601 23.9636 102.036 22.6044 103.049 21.4599C103.485 20.9419 104.035 20.5312 104.655 20.2593C105.275 19.9875 105.949 19.8618 106.626 19.8922C107.806 19.8537 108.954 20.2821 109.821 21.0844C110.828 22.0024 111.335 23.4271 111.335 26.1393V26.6699L104.384 26.6759ZM106.614 21.7997C105.189 21.7997 104.402 22.9263 104.402 24.816H108.7C108.688 22.9263 107.86 21.7997 106.602 21.7997H106.614Z'
                ></path><path
                  class='pro-logo__text'
                  d='M119.841 22.3778C119.616 22.2774 119.373 22.2227 119.126 22.2169C118.624 22.2248 118.138 22.3978 117.744 22.7091C117.35 23.0205 117.069 23.4528 116.944 23.9396V31.8023H114.417V23.5939C114.46 22.5363 114.319 21.4794 114 20.4703L116.324 19.8742C116.611 20.4438 116.76 21.0726 116.76 21.7102C117.678 20.4464 118.596 19.8503 119.74 19.8503C120.05 19.8363 120.359 19.8976 120.64 20.0292L119.841 22.3778Z'
                ></path><path
                  class='pro-logo__text'
                  d='M134.786 32.0527C133.827 32.0819 132.875 31.8901 132.003 31.4922C131.13 31.0942 130.361 30.5007 129.755 29.7577C128.498 28.1373 127.855 26.1254 127.937 24.0768C127.884 22.4049 128.247 20.746 128.992 19.2483C129.536 18.1561 130.372 17.2362 131.407 16.5911C132.443 15.946 133.637 15.6008 134.857 15.5942C136.276 15.5535 137.668 15.9901 138.81 16.8341L137.617 18.5866C136.837 17.9923 135.88 17.6755 134.899 17.6865C134.247 17.685 133.607 17.862 133.048 18.1982C132.489 18.5345 132.032 19.0171 131.728 19.594C131.179 20.5597 130.905 21.895 130.905 23.7668C130.905 25.6386 131.108 26.8248 131.501 27.719C131.792 28.4089 132.286 28.9939 132.918 29.3964C133.549 29.7988 134.288 29.9997 135.036 29.9723C136.081 29.9995 137.098 29.6385 137.892 28.9589L139.132 30.6399C137.886 31.5914 136.353 32.0897 134.786 32.0527Z'
                ></path><path
                  class='pro-logo__text'
                  d='M149.355 32.2851C148.995 32.1504 148.667 31.9411 148.394 31.6709C148.121 31.4007 147.908 31.0758 147.769 30.7174C147.382 31.1848 146.892 31.5566 146.338 31.8037C145.784 32.0509 145.18 32.1667 144.574 32.1421C141.903 32.1421 140.711 30.6756 140.711 28.6489C140.711 25.9604 142.732 24.6073 146.458 24.6073H147.239V24.0112C147.239 22.6759 147.006 21.9606 145.629 21.9606C143.954 21.9606 142.16 23.2958 142.16 23.2958L141.033 21.5075C142.48 20.4877 144.204 19.9344 145.975 19.9219C147.793 19.9219 149.009 20.5835 149.516 21.8473C149.718 22.354 149.718 22.9739 149.694 24.6967L149.653 28.0349C149.653 29.5967 149.766 30.1034 150.66 30.7233L149.355 32.2851ZM146.732 26.324C144.204 26.324 143.447 27.0573 143.447 28.5296C143.447 29.6324 144.043 30.318 145.057 30.318C145.475 30.2998 145.883 30.1822 146.247 29.9749C146.611 29.7676 146.92 29.4765 147.149 29.1258L147.191 26.3658C147.191 26.3658 146.917 26.3062 146.708 26.3062L146.732 26.324Z'
                ></path><path
                  class='pro-logo__text'
                  d='M159.971 31.8023V24.0529C159.971 22.4672 159.608 22.0321 158.636 22.0321C157.66 22.1553 156.758 22.6198 156.091 23.3435V31.7784H153.605V23.2481C153.65 22.31 153.502 21.3726 153.17 20.4941L155.465 19.8503C155.745 20.3553 155.888 20.9243 155.882 21.5015C157.122 20.4464 158.201 19.8921 159.459 19.8921C161.247 19.8921 162.493 20.977 162.493 23.111V31.8023H159.971Z'
                ></path><path
                  class='pro-logo__text'
                  d='M174.016 32.2851C173.656 32.1494 173.33 31.9398 173.056 31.6697C172.783 31.3996 172.57 31.0752 172.43 30.7174C172.043 31.1848 171.554 31.5566 170.999 31.8037C170.445 32.0509 169.841 32.1667 169.235 32.1421C166.57 32.1421 165.372 30.6756 165.372 28.6489C165.372 25.9604 167.399 24.6073 171.119 24.6073H171.9V24.0112C171.9 22.6759 171.673 21.9606 170.296 21.9606C168.615 21.9606 166.821 23.2958 166.821 23.2958L165.694 21.5075C167.141 20.4877 168.865 19.9344 170.636 19.9219C172.454 19.9219 173.67 20.5835 174.177 21.8473C174.385 22.354 174.385 22.9739 174.362 24.6967L174.314 28.0349C174.314 29.5967 174.433 30.1034 175.327 30.7233L174.016 32.2851ZM171.399 26.324C168.865 26.324 168.108 27.0573 168.108 28.5296C168.108 29.6324 168.704 30.318 169.718 30.318C170.136 30.2998 170.544 30.1822 170.908 29.9749C171.272 29.7676 171.581 29.4765 171.81 29.1258L171.858 26.3658C171.858 26.3658 171.584 26.3062 171.399 26.3062V26.324Z'
                ></path><path
                  class='pro-logo__text'
                  d='M185.348 31.8024C185.232 31.5152 185.164 31.2112 185.145 30.9022C184.775 31.2815 184.33 31.5797 183.838 31.7778C183.347 31.9758 182.819 32.0695 182.29 32.0527C179.309 32.0527 177.521 29.7339 177.521 26.0917C177.521 22.4494 179.547 19.9577 182.349 19.9577C182.821 19.9477 183.289 20.0394 183.722 20.2266C184.155 20.4138 184.543 20.6922 184.859 21.0426C184.859 21.0426 184.793 20.1484 184.793 19.1351V14.8848L187.297 15.2783V27.7965C187.297 30.0975 187.434 31.2659 187.666 31.8441L185.348 31.8024ZM184.799 22.9263C184.536 22.6257 184.21 22.3858 183.844 22.2232C183.479 22.0606 183.083 21.9791 182.683 21.9845C181.074 21.9845 180.34 23.2721 180.34 26.0797C180.34 28.649 180.841 29.9366 182.755 29.9366C183.161 29.9423 183.562 29.844 183.92 29.651C184.278 29.458 184.581 29.1766 184.799 28.8337V22.9263Z'
                ></path><path
                  class='pro-logo__text'
                  d='M198.677 32.2851C198.316 32.1498 197.988 31.9404 197.714 31.6703C197.44 31.4002 197.226 31.0756 197.085 30.7174C196.699 31.1847 196.211 31.5565 195.657 31.8037C195.104 32.0508 194.501 32.1666 193.896 32.1421C191.225 32.1421 190.033 30.6756 190.033 28.6489C190.033 25.9604 192.054 24.6073 195.779 24.6073H196.56V24.0112C196.56 22.6759 196.328 21.9606 194.951 21.9606C193.27 21.9606 191.481 23.2958 191.481 23.2958L190.355 21.5075C191.802 20.4877 193.526 19.9344 195.297 19.9219C197.085 19.9219 198.331 20.5835 198.837 21.8473C199.04 22.354 199.04 22.9739 199.016 24.6967L198.975 28.0349C198.975 29.5967 199.088 30.1034 199.982 30.7233L198.677 32.2851ZM196.054 26.324C193.526 26.324 192.769 27.0573 192.769 28.5296C192.769 29.6324 193.365 30.318 194.379 30.318C194.796 30.3004 195.204 30.1829 195.567 29.9755C195.93 29.7681 196.238 29.4767 196.465 29.1258L196.513 26.3658C196.513 26.3658 196.238 26.3062 196.054 26.3062V26.324Z'
                ></path><path
                  class='pro-logo__text'
                  d='M48.4635 47.7959C46.6752 47.7959 45.5664 46.556 45.5664 44.8153C45.5664 43.0747 46.699 41.6202 48.5052 41.6202C49.1043 41.6081 49.6934 41.7741 50.1982 42.0971L49.6676 42.8124C49.3241 42.5929 48.9247 42.4771 48.5171 42.4786C48.2203 42.4727 47.9275 42.5479 47.6701 42.696C47.4128 42.8441 47.2007 43.0595 47.0567 43.3191C46.8285 43.76 46.7235 44.2542 46.7527 44.7497C46.7165 45.0471 46.7406 45.3486 46.8236 45.6364C46.9065 45.9242 47.0466 46.1923 47.2355 46.4248C47.3979 46.6178 47.6018 46.7717 47.832 46.875C48.0621 46.9782 48.3127 47.0281 48.5648 47.0209C49.0058 47.0133 49.4357 46.881 49.8047 46.6394L50.3174 47.2951C49.7706 47.6599 49.1195 47.8358 48.4635 47.7959Z'
                ></path><path
                  class='pro-logo__text'
                  d='M51.9865 47.7066V41.7038H55.742L55.5929 42.592H53.0595V44.1419H55.1697V45.0122H53.0654V46.8005H55.8373V47.7125L51.9865 47.7066Z'
                ></path><path
                  class='pro-logo__text'
                  d='M61.0176 47.7066L59.3247 44.7261C58.9908 44.13 58.4543 42.9377 58.4543 42.9377C58.4543 42.9377 58.5676 44.0882 58.5795 44.8393L58.6213 47.7066H57.5602V41.7038H58.7524L60.4692 44.738C60.8209 45.3341 61.256 46.3475 61.256 46.3475C61.256 46.3475 61.1189 45.2149 61.107 44.5115L61.0772 41.7038H62.1025V47.7066H61.0176Z'
                ></path><path
                  class='pro-logo__text'
                  d='M68.1232 42.592H66.3885V47.7066H65.3274V42.592H63.6166V41.7038H68.2662L68.1232 42.592Z'
                ></path><path
                  class='pro-logo__text'
                  d='M72.7906 47.7066C72.6237 47.4085 72.427 47.1105 72.1945 46.7826C71.9065 46.248 71.5272 45.7679 71.0738 45.3639C70.9267 45.2359 70.7434 45.1567 70.5493 45.1374V47.7066H69.4882V41.7038H71.2765C71.8756 41.6372 72.4802 41.7669 72.9993 42.0734C73.211 42.2268 73.383 42.4286 73.5012 42.6618C73.6194 42.8951 73.6803 43.1531 73.6788 43.4146C73.6897 43.6367 73.6543 43.8587 73.5749 44.0664C73.4954 44.2741 73.3736 44.463 73.2171 44.6211C73.0607 44.7791 72.8732 44.903 72.6663 44.9847C72.4595 45.0664 72.2379 45.1042 72.0157 45.0956C72.129 45.173 72.2295 45.2675 72.3137 45.3758C72.5045 45.6202 72.8502 46.0554 73.1662 46.4786C73.4821 46.9018 74.0365 47.6708 74.0603 47.7066H72.7906ZM71.2407 42.5681H70.5791V44.3922H71.1752C71.8667 44.3922 72.6177 44.3207 72.6177 43.4504C72.6177 42.58 71.8667 42.5681 71.2646 42.5681H71.2407Z'
                ></path><path
                  class='pro-logo__text'
                  d='M75.7235 47.7066V41.7038H79.479L79.3359 42.592H76.7965V44.1419H78.9067V45.0122H76.8084V46.8005H79.5803V47.7125L75.7235 47.7066Z'
                ></path><path
                  class='pro-logo__text'
                  d='M87.8603 42.5681H85.4759V44.13H87.4192V44.9943H85.4759V47.7066H84.4148V41.7038H87.9914L87.8603 42.5681Z'
                ></path><path
                  class='pro-logo__text'
                  d='M92.2178 47.8077C90.364 47.8077 89.3804 46.4903 89.3804 44.702C89.3804 42.7885 90.4295 41.6142 92.1523 41.6142C94.0658 41.6142 94.9719 42.9376 94.9719 44.7259C94.9719 46.5142 94.1671 47.8077 92.2178 47.8077ZM92.1284 42.4428C91.8835 42.43 91.6394 42.4809 91.42 42.5906C91.2006 42.7003 91.0134 42.8651 90.8766 43.0687C90.639 43.5513 90.5321 44.0877 90.5666 44.6245C90.5391 45.2434 90.6705 45.8591 90.9481 46.4129C91.086 46.6178 91.277 46.7815 91.5006 46.8865C91.7242 46.9914 91.9721 47.0338 92.2178 47.009C93.5531 47.009 93.7618 45.8585 93.7618 44.7974C93.7618 43.641 93.5829 42.4547 92.1284 42.4547V42.4428Z'
                ></path><path
                  class='pro-logo__text'
                  d='M100.134 47.7065C99.9673 47.4085 99.7646 47.1104 99.5381 46.7826C99.2493 46.2501 98.8724 45.7704 98.4234 45.3638C98.2756 45.2368 98.0926 45.1578 97.8988 45.1373V47.7065H96.8318V41.7037H98.6201C99.2173 41.638 99.8196 41.7677 100.337 42.0733C100.55 42.2254 100.724 42.4268 100.843 42.6602C100.963 42.8937 101.024 43.1524 101.022 43.4146C101.033 43.6372 100.998 43.8597 100.918 44.0678C100.838 44.2759 100.716 44.4651 100.559 44.6233C100.402 44.7815 100.213 44.9052 100.006 44.9865C99.7982 45.0678 99.576 45.105 99.3533 45.0956C99.4685 45.1728 99.571 45.2673 99.6573 45.3758C99.8481 45.6202 100.194 46.0553 100.504 46.4786C100.814 46.9018 101.38 47.6708 101.398 47.7065H100.134ZM98.5784 42.5681H97.9226V44.3922H98.5188C99.2102 44.3922 99.9613 44.3206 99.9613 43.4503C99.9613 42.58 99.1864 42.5681 98.5784 42.5681Z'
                ></path><path
                  class='pro-logo__text'
                  d='M109.6 42.5681H107.216V44.13H109.153V44.9943H107.21V47.7066H106.173V41.7038H109.749L109.6 42.5681Z'
                ></path><path
                  class='pro-logo__text'
                  d='M111.341 47.7066V41.7038H112.426V47.7066H111.341Z'
                ></path><path
                  class='pro-logo__text'
                  d='M118.554 47.7066L116.867 44.7261C116.527 44.13 115.991 42.9377 115.991 42.9377C115.991 42.9377 116.104 44.0882 116.116 44.8393L116.164 47.7066H115.114V41.7038H116.307L118.029 44.738C118.375 45.3341 118.81 46.3475 118.81 46.3475C118.81 46.3475 118.673 45.2149 118.667 44.5115L118.631 41.7038H119.657V47.7066H118.554Z'
                ></path><path
                  class='pro-logo__text'
                  d='M125.648 47.7066L125.081 46.1447H122.864L122.268 47.7066H121.165L123.4 41.6978H124.652L126.84 47.7066H125.648ZM123.972 42.5919L123.102 45.2923H124.843L123.972 42.5919Z'
                ></path><path
                  class='pro-logo__text'
                  d='M131.805 47.7066L130.118 44.7261C129.778 44.13 129.248 42.9377 129.248 42.9377C129.248 42.9377 129.355 44.0882 129.367 44.8393L129.415 47.7066H128.348V41.7038H129.54L131.263 44.738C131.608 45.3341 132.044 46.3475 132.044 46.3475C132.044 46.3475 131.913 45.2149 131.901 44.5115L131.865 41.7038H132.896V47.7066H131.805Z'
                ></path><path
                  class='pro-logo__text'
                  d='M137.999 47.7959C136.21 47.7959 135.108 46.556 135.108 44.8153C135.108 43.0747 136.234 41.6202 138.047 41.6202C138.644 41.6064 139.232 41.7726 139.733 42.0971L139.209 42.8124C138.865 42.5945 138.466 42.4787 138.058 42.4786C137.761 42.4736 137.468 42.549 137.21 42.697C136.951 42.8449 136.738 43.0599 136.592 43.3191C136.364 43.76 136.259 44.2542 136.288 44.7497C136.252 45.0471 136.276 45.3486 136.359 45.6364C136.442 45.9242 136.582 46.1923 136.771 46.4248C136.933 46.6178 137.137 46.7717 137.367 46.875C137.597 46.9782 137.848 47.0281 138.1 47.0209C138.541 47.0143 138.971 46.882 139.34 46.6394L139.859 47.2951C139.31 47.6596 138.657 47.8354 137.999 47.7959Z'
                ></path><path
                  class='pro-logo__text'
                  d='M141.188 47.7066V41.7038H142.267V47.7066H141.188Z'
                ></path><path
                  class='pro-logo__text'
                  d='M148.258 47.7066L147.662 46.1447H145.414L144.818 47.7066H143.716L145.951 41.6978H147.191L149.379 47.7066H148.258ZM146.583 42.5919L145.713 45.2923H147.453L146.583 42.5919Z'
                ></path><path
                  class='pro-logo__text'
                  d='M154.374 47.7066H150.928V41.7038H152.013V46.8244H154.541L154.374 47.7066Z'
                ></path><path
                  class='pro-logo__text'
                  d='M162.267 47.7066H158.821V41.7038H159.906V46.8244H162.433L162.267 47.7066Z'
                ></path><path
                  class='pro-logo__text'
                  d='M163.816 47.7066V41.7038H164.901V47.7066H163.816Z'
                ></path><path
                  class='pro-logo__text'
                  d='M170.904 42.592H169.169V47.7066H168.108V42.592H166.38V41.7038H171.029L170.904 42.592Z'
                ></path><path
                  class='pro-logo__text'
                  d='M172.341 47.7066V41.7038H176.096L175.953 42.592H173.414V44.1419H175.53V45.0122H173.426V46.8005H176.197V47.7125L172.341 47.7066Z'
                ></path><path
                  class='pro-logo__text'
                  d='M181.175 47.7066C181.008 47.4085 180.805 47.1105 180.609 46.7826C180.32 46.2498 179.943 45.77 179.494 45.3639C179.347 45.2359 179.163 45.1567 178.969 45.1374V47.7066H177.908V41.7038H179.697C180.296 41.6372 180.9 41.7669 181.419 42.0734C181.631 42.2268 181.803 42.4286 181.921 42.6618C182.039 42.8951 182.1 43.1531 182.099 43.4146C182.11 43.6367 182.074 43.8587 181.995 44.0664C181.915 44.2741 181.794 44.463 181.637 44.6211C181.481 44.7791 181.293 44.903 181.086 44.9847C180.88 45.0664 180.658 45.1042 180.436 45.0956C180.548 45.1746 180.648 45.2689 180.734 45.3758C180.925 45.6202 181.27 46.0554 181.586 46.4786C181.902 46.9018 182.457 47.6708 182.48 47.7066H181.175ZM179.625 42.5681H178.963V44.3922H179.56C180.257 44.3922 181.002 44.3207 181.002 43.4504C181.002 42.58 180.227 42.5681 179.625 42.5681Z'
                ></path><path
                  class='pro-logo__text'
                  d='M187.625 47.7066L187.029 46.1447H184.787L184.191 47.7066H183.13L185.366 41.6978H186.605L188.799 47.7066H187.625ZM185.95 42.5919L185.079 45.2923H186.82L185.95 42.5919Z'
                ></path><path
                  class='pro-logo__text'
                  d='M192.686 47.7959C190.897 47.7959 189.795 46.556 189.795 44.8153C189.795 43.0747 190.921 41.6202 192.733 41.6202C193.331 41.6064 193.919 41.7726 194.42 42.0971L193.896 42.8124C193.552 42.5945 193.153 42.4787 192.745 42.4786C192.448 42.4736 192.155 42.549 191.896 42.697C191.638 42.8449 191.425 43.0599 191.279 43.3191C191.053 43.7606 190.95 44.2548 190.981 44.7497C190.944 45.0467 190.967 45.348 191.049 45.6358C191.131 45.9235 191.27 46.1919 191.458 46.4248C191.62 46.6178 191.824 46.7717 192.054 46.875C192.284 46.9782 192.535 47.0281 192.787 47.0209C193.228 47.0143 193.658 46.882 194.027 46.6394L194.546 47.2951C193.996 47.6596 193.344 47.8354 192.686 47.7959Z'
                ></path><path
                  class='pro-logo__text'
                  d='M197.83 45.2864V47.7066H196.721V45.2864L194.587 41.7098H195.893L196.96 43.6948C197.096 43.9633 197.216 44.24 197.318 44.5234C197.417 44.2391 197.537 43.9622 197.675 43.6948L198.76 41.7038H200L197.83 45.2864Z'
                ></path></g
              ><defs
                ><radialGradient
                  id='paint0_radial'
                  cx='0'
                  cy='0'
                  r='1'
                  gradientUnits='userSpaceOnUse'
                  gradientTransform='translate(26.649 15.9641) scale(21.3621)'
                  ><stop stop-color='white'></stop><stop
                    offset='0.06'
                    stop-color='#FDF0EC'></stop><stop
                    offset='0.24'
                    stop-color='#F8C3B1'></stop><stop
                    offset='0.43'
                    stop-color='#F49D81'></stop><stop
                    offset='0.6'
                    stop-color='#F17F5B'></stop><stop
                    offset='0.75'
                    stop-color='#EF6A40'></stop><stop
                    offset='0.89'
                    stop-color='#ED5D30'></stop><stop
                    offset='1'
                    stop-color='#ED592A'></stop></radialGradient
                ><clipPath id='clip0'
                  ><rect class='pro-logo__text' width='200' height='47.8138'
                  ></rect></clipPath
                ></defs
              ></svg
            ></a
          >
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-12 col-sm-12'>
        <p class='mt-4'></p>
        <div set:html={marked(about?.content as string)} />
        <div class='mb-4'></div>
      </div>
    </div>
    <div class='row' aria-label='Site footer'>
      <div class='col-12 col-sm-6 col-md-4'>
        <ul>
          <li>
            <a class='small' href={`${makeUrl(base, locale)}`}>{t('home')}</a>
          </li>
          <li>
            <a
              class='small'
              href={`${makeUrl(base, locale, '#four-key-disability-benefits')}`}
            >
              {t('menuDisabilityBen')}
            </a>
          </li>
          <li>
            <a
              class='small'
              href='https://benefitswayfinder.org/search?size=n_6_n&filters%5B0%5D%5Bfield%5D=tags&filters%5B0%5D%5Bvalues%5D%5B0%5D=Disability&filters%5B0%5D%5Btype%5D=any'
            >
              {t('menuSearch')}
            </a>
          </li>
          <li>
            <a class='small' href={`${makeUrl(base, locale, 'disclaimer')}`}>
              {t('disclaimer')}
            </a>
          </li>
        </ul>
      </div>
      <div class='col-12 col-sm-6 col-md-4'>
        <ul>
          <li>
            <a class='small' href={`${makeUrl(base, locale, 'help')}`}>
              {t('menuHelp')}
            </a>
          </li>
          <li>
            <a
              class='small'
              href={`${makeUrl(base, locale, 'how-to-use-this-website')}`}
            >
              {t('useSite')}
            </a>
          </li>
          <li>
            <a class='small' href={`${makeUrl(base, locale, 'about')}`}
              >{t('aboutLong')}</a
            >
          </li>
          <li>
            <a
              class='small'
              href={`${makeUrl(base, locale, 'share-this-tool')}`}
              >{t('embedTitle')}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class='col-12 col-sm-12'>
        <div class='mb-4'></div>
        <div set:html={marked(about?.footnote as string)} />
        <p class='xsmall'>
          {t('copyright')}
          {new Date().getFullYear()}
        </p>
      </div>
    </div>
  </div>
</footer>
