---
interface Props {
  pageSlug?: string
}

import { contentfulClient } from '../lib/contentful'
import menuItems from '../lib/mainmenu.json'
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import ProvincePicker from './header/ProvincePicker.astro'
import ProvincePickerMobile from './header/ProvincePickerMobile.astro'
import type { TypeBenefitSkeleton } from '../types/contentful/TypeBenefit'
import getJurisdiction from '../lib/jurisdictions'
import makeUrl from '../lib/helpers'
import TDLogo from './header/UI/TDLogo.astro'
import PCLogo from './header/UI/PCLogo.astro'
import ThemeToggle from './ThemeToggle.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const menu = menuItems[lang === 'fr' ? 'fr-CA' : 'en-CA']
const locale = lang === 'fr' ? 'fr-CA' : 'en-CA'
const otherLocale = lang !== 'fr' ? 'fr-CA' : 'en-CA'

const benefitRes = await contentfulClient.getEntries<TypeBenefitSkeleton>({
  content_type: 'benefit',
  order: ['fields.order'],
  locale
})
const { pageSlug } = Astro.props
const benefits = benefitRes.items
const base = import.meta.env.BASE_URL
---

<header id='header'>
  <div class='nav-top'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-sm-12'>
          <div class='d-flex justify-content-between'>
            <PCLogo />

            <div class='mobile-only nav__sponsor'>
              <TDLogo />
            </div>
            <nav
              class='dropdown-nav xdesktop-only d-none d-md-block'
              id='utility-nav'
              aria-label='Utility'
            >
              <ul>
                <li class='desktop-only utility-nav__sponsor'>
                  <TDLogo />
                </li>
                <li>
                  <ThemeToggle title={t(`lightMode`)} />
                </li>
                <li>
                  <a
                    class='js--menu-link'
                    href={`${makeUrl(base, otherLocale)}`}
                  >
                    {t(`langTitle`)}
                  </a>
                </li>
                <li class='has-submenu xdesktop-only d-none d-md-block'>
                  <ProvincePicker />
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='nav-bottom d-print-none'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-sm-12'>
          <div class='d-flex justify-content-between mainmenu'>
            <nav
              class='dropdown-nav xdesktop-only d-none d-md-block'
              id='main-nav'
              aria-label='Main'
            >
              <ul>
                {
                  menu.map((i, index) => (
                    <>
                      {index === 1 ? (
                        <li class='nav-item dropdown'>
                          <a
                            class='nav-link dropdown-toggle'
                            data-bs-toggle='dropdown'
                            href='#'
                            role='button'
                            aria-expanded='false'
                          >
                            {t('menuDisabilityBen')}
                          </a>
                          <ul class='dropdown-menu'>
                            {benefits?.map((b) => (
                              <li
                                data-province-filter={
                                  getJurisdiction(b.fields.authority)?.code
                                }
                                data-province-hide-filter={
                                  b.fields.hideForProvinces
                                }
                              >
                                <a
                                  class='dropdown-item'
                                  href={`${makeUrl(
                                    base,
                                    locale,
                                    getJurisdiction(b.fields.authority, locale)
                                      ?.slug,
                                    b.fields?.slug as string
                                  )}`}
                                >
                                  {b.fields.title}
                                </a>
                              </li>
                            ))}
                            <li>
                              <hr class='dropdown-divider' />
                            </li>
                            <li>
                              <a
                                class='dropdown-item js--sub-link'
                                href={`${makeUrl(base, locale, 'all-benefits')}`}
                              >
                                {t('menuOtherBen')}
                              </a>
                            </li>
                          </ul>
                        </li>
                      ) : null}
                      <li>
                        <a
                          href={`${makeUrl(base, locale, i.slug as string)}`}
                          class={pageSlug === i.slug ? 'is-active' : ''}
                        >
                          {i.title}
                        </a>
                      </li>
                    </>
                  ))
                }
              </ul>
            </nav>

            <!-- bootstrap 5 -->
            <nav class='navbar navbar-expand-lg xmobile-only d-block d-md-none'>
              <button
                class='navbar-toggler'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#navbarSupportedContent'
                aria-controls='navbarSupportedContent'
                aria-expanded='false'
                aria-label='Toggle navigation'
              >
                <span class='bi bi-list'></span>
              </button>
              <div class='collapse navbar-collapse' id='navbarSupportedContent'>
                <ul class='navbar-nav me-auto'>
                  {
                    menu.map((i, index) => (
                      <>
                        {index === 1 ? (
                          <li class='nav-item dropdown'>
                            <a
                              class='nav-link dropdown-toggle'
                              id='navbarDropdown'
                              role='button'
                              data-bs-toggle='dropdown'
                              aria-haspopup='true'
                              aria-expanded='false'
                            >
                              {t('menuDisabilityBen')}
                            </a>
                            <ul
                              class='dropdown-menu benefits'
                              aria-labelledby='navbarDropdown'
                            >
                              {benefits?.map((b) => (
                                <li
                                  data-province-filter={
                                    getJurisdiction(b.fields.authority)?.code
                                  }
                                  data-province-hide-filter={
                                    b.fields.hideForProvinces
                                  }
                                >
                                  <a
                                    class='dropdown-item'
                                    href={`${makeUrl(
                                      base,
                                      locale,
                                      getJurisdiction(
                                        b.fields.authority,
                                        locale
                                      )?.slug,
                                      b.fields?.slug as string
                                    )}`}
                                  >
                                    {b.fields.title}
                                  </a>
                                </li>
                              ))}
                              <li>
                                <hr class='dropdown-divider' />
                              </li>
                              <li>
                                <a
                                  class='dropdown-item'
                                  href={`${makeUrl(base, locale, 'all-benefits')}`}
                                >
                                  {t('menuOtherBen')}
                                </a>
                              </li>
                            </ul>
                          </li>
                        ) : null}
                        <li class='nav-item'>
                          <a
                            class='nav-link'
                            href={`${makeUrl(base, locale, i.slug as string)}`}
                          >
                            {i.title}
                          </a>
                        </li>
                      </>
                    ))
                  }
                  <!-- <div class='dropdown-divider'></div> -->
                  <li>
                    <hr class='dropdown-divider' />
                  </li>
                  <li class='nav-item dropdown'>
                    <ProvincePickerMobile />
                  </li>
                  <li>
                    <hr class='dropdown-divider' />
                  </li>
                  <!-- <div class='dropdown-divider'></div> -->
                  <li>
                    <a class='nav-link' href={`${makeUrl(base, otherLocale)}`}>
                      {t('langTitle')}
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
            <div class='xmobile-only d-block d-md-none'>
              <ThemeToggle title={t(`lightMode`)} />
            </div>
            <a
              class='xdesktop-only d-none d-md-block js--menu-link btn-icon-right bi bi-arrow-up-right'
              href={t('bwURL')}
              target='_blank'
              rel='noopener'>{t('bwName')}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- <script>
  import prepareThemeToggle from '../lib/themeToggle'
  prepareThemeToggle()
</script> -->
