---
interface Props {
  pageSlug?: string
}

import { contentfulClient } from '../lib/contentful'
import menuItems from '../lib/mainmenu.json'
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import ProvincePicker from './header/ProvincePicker.astro'
import ProvincePickerMobile from './header/ProvincePickerMobile.astro'
import type { TypeBenefitSkeleton } from '../types/contentful/TypeBenefit'
import getJurisdiction from '../lib/jurisdictions'
import makeUrl from '../lib/helpers'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const menu = menuItems[lang === 'fr' ? 'fr-CA' : 'en-CA']
const locale = lang === 'fr' ? 'fr-CA' : 'en-CA'
const otherLocale = lang !== 'fr' ? 'fr-CA' : 'en-CA'

const benefitRes = await contentfulClient.getEntries<TypeBenefitSkeleton>({
  content_type: 'benefit',
  //@ts-ignore
  order: 'fields.order',
  locale
})
const { pageSlug } = Astro.props
const benefits = benefitRes.items
const base = import.meta.env.BASE_URL
---

<header id='header'>
  <div class='nav-top'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-sm-12'>
          <div class='d-flex justify-content-between'>
            <a class='nav-top__logo-a' href={`${makeUrl(base, locale)}`}>
              <svg
                class='nav-top__logo'
                viewBox='0 0 155 30'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <title>{t('altPClogo')}</title>
                <path
                  d='M26.4602 13.6852C24.9031 15.9953 23.3785 18.3054 21.4749 19.9872C15.3531 25.4529 8.04386 25.7024 3.95494 22.8517C10.2893 9.00488 26.4602 13.6852 26.4602 13.6852ZM40.5103 3.23419C40.5103 3.23419 17.8157 -6.69472 4.66183 8.24715C2.54551 10.6995 1.17765 13.7078 0.720764 16.9147C0.762346 16.8824 10.1091 9.00488 26.4509 13.6806C29.7405 8.77848 33.1549 3.65925 40.5103 3.23419Z'
                  fill='url(#paint0_radial)'></path>
                <path
                  class='pro-logo__text'
                  d='M39.614 19.9456H37.5303V24.6491H35.4973V12.3222H38.7777C40.575 12.3222 41.2357 12.4978 41.9149 12.909C42.4494 13.226 42.8886 13.6812 43.1862 14.2268C43.4838 14.7724 43.6288 15.3881 43.6059 16.0092C43.6059 18.4302 41.8409 19.9456 39.614 19.9456ZM37.5303 13.9763V18.3055H39.1335C40.6489 18.3055 41.3419 17.5939 41.3419 16.1339C41.3856 15.5711 41.2064 15.0136 40.843 14.5815C40.6166 14.3661 40.3473 14.2009 40.0528 14.0966C39.7582 13.9923 39.445 13.9513 39.1335 13.9763H37.5303Z'
                ></path>
                <path
                  class='pro-logo__text'
                  d='M49.2333 17.3444C49.0596 17.2683 48.873 17.2259 48.6835 17.2197C48.2936 17.2256 47.9164 17.3595 47.6101 17.6007C47.3037 17.842 47.0851 18.1773 46.9879 18.5549V24.649H45.0474V18.2869C45.0792 17.4677 44.9714 16.649 44.7286 15.8659L46.5259 15.4039C46.7514 15.8443 46.8686 16.3321 46.8678 16.8269C47.5793 15.8474 48.2908 15.3854 49.1779 15.3854C49.4171 15.376 49.655 15.4252 49.8709 15.5286L49.2333 17.3444Z'
                ></path><path
                  class='pro-logo__text'
                  d='M58.4739 20.1766C58.4739 23.0827 56.9261 24.88 54.482 24.88C52.0379 24.88 50.5132 23.0319 50.5132 20.1581C50.5132 17.2843 52.061 15.4224 54.4496 15.4224C57.0231 15.4224 58.4739 17.3259 58.4739 20.1766ZM52.6847 20.0334C52.6847 22.653 53.3454 23.42 54.5328 23.42C55.7202 23.42 56.3347 22.496 56.3347 20.2136C56.3347 17.6632 55.6186 16.9008 54.4866 16.9008C53.2299 16.9008 52.6939 17.8434 52.6939 20.0334H52.6847Z'
                ></path><path
                  class='pro-logo__text'
                  d='M63.4914 24.8985C62.2739 24.8613 61.0854 24.5181 60.0355 23.9005L60.7285 22.5145C61.6106 23.0588 62.6138 23.3763 63.6485 23.4385C64.5079 23.4385 65.1131 22.9211 65.1131 22.1726C65.1131 21.4241 64.6511 21.1192 63.6485 20.9066L62.5627 20.6756C61.209 20.3892 60.4097 19.4651 60.4097 18.1992C60.4097 16.5081 61.7634 15.33 63.7594 15.33C64.8002 15.336 65.8224 15.6062 66.7302 16.1154L66.0926 17.4692C65.4241 17.0659 64.6643 16.8386 63.8841 16.8085C63.0433 16.8085 62.4981 17.2705 62.4981 17.9681C62.4981 18.518 62.7984 18.8044 63.7086 19.0354L64.8313 19.3219C66.6471 19.7839 67.1414 20.7819 67.1414 21.8353C67.1414 23.6511 65.6629 24.8985 63.4914 24.8985Z'
                ></path><path
                  class='pro-logo__text'
                  d='M73.1246 24.8246C72.3503 24.825 71.5979 24.5683 70.9854 24.0946C70.9854 24.0946 71.0224 24.4873 71.0224 24.9863V27.9987L69.1327 28.4607V17.9681C69.1551 17.2153 69.0947 16.4623 68.9525 15.7227L70.7544 15.4039C70.8536 15.7634 70.9018 16.1351 70.8976 16.5081C71.1935 16.1625 71.5626 15.887 71.9782 15.7016C72.3937 15.5162 72.8453 15.4255 73.3002 15.4362C75.1205 15.4362 76.7053 16.8223 76.7053 19.9456C76.7053 22.9395 75.4209 24.8246 73.1246 24.8246ZM71.0224 17.9866V22.4728C71.4564 22.9451 72.055 23.2329 72.6949 23.2768C74.0163 23.2768 74.6031 22.2973 74.6031 20.1581C74.6031 18.1437 74.2104 17.0579 72.9259 17.0579C72.5602 17.0649 72.2003 17.1516 71.8716 17.312C71.5428 17.4724 71.253 17.7026 71.0224 17.9866Z'
                ></path><path
                  class='pro-logo__text'
                  d='M80.8913 20.6756V20.8188C80.8913 22.0663 81.3533 23.383 83.1182 23.383C83.9523 23.3791 84.7541 23.0606 85.3636 22.4913L86.1306 23.688C85.2331 24.4648 84.0835 24.8885 82.8964 24.88C80.3461 24.88 78.7382 23.0319 78.7382 20.1581C78.7382 18.5733 79.0801 17.5246 79.8609 16.6328C80.1992 16.2319 80.6252 15.9142 81.1059 15.7043C81.5866 15.4944 82.1091 15.3979 82.6331 15.4223C83.5478 15.3936 84.4372 15.7254 85.1095 16.3464C85.895 17.0579 86.2877 18.1621 86.2877 20.2644V20.6756H80.8913ZM82.6192 16.9008C81.515 16.9008 80.9097 17.774 80.9097 19.234H84.2409C84.2409 17.774 83.5987 16.9008 82.6192 16.9008Z'
                ></path><path
                  class='pro-logo__text'
                  d='M92.8808 17.3444C92.7071 17.2683 92.5205 17.2259 92.331 17.2197C91.941 17.2256 91.5639 17.3595 91.2575 17.6007C90.9511 17.842 90.7325 18.1773 90.6353 18.5549V24.649H88.6764V18.2869C88.7082 17.4677 88.6004 16.649 88.3576 15.8659L90.1548 15.4039C90.3768 15.8454 90.4923 16.3328 90.4921 16.8269C91.2083 15.8474 91.9198 15.3854 92.8022 15.3854C93.0415 15.376 93.2794 15.4252 93.4953 15.5286L92.8808 17.3444Z'
                ></path><path
                  class='pro-logo__text'
                  d='M104.445 24.843C103.702 24.8657 102.963 24.7171 102.286 24.4087C101.609 24.1002 101.012 23.6402 100.541 23.0642C99.5775 21.8043 99.0869 20.2459 99.1551 18.6611C99.1109 17.3664 99.3921 16.0813 99.9729 14.9234C100.391 14.0755 101.038 13.3613 101.841 12.8609C102.643 12.3606 103.569 12.094 104.515 12.0912C105.614 12.0597 106.693 12.398 107.578 13.0522L106.654 14.4059C106.049 13.9475 105.31 13.7021 104.552 13.7082C104.046 13.7071 103.55 13.8443 103.116 14.1049C102.683 14.3655 102.329 14.7396 102.094 15.1867C101.664 15.9352 101.451 16.9701 101.451 18.4209C101.451 19.8716 101.613 20.7911 101.913 21.4841C102.141 22.0184 102.525 22.4713 103.015 22.783C103.505 23.0948 104.077 23.2508 104.658 23.2306C105.465 23.2518 106.252 22.9737 106.866 22.4497L107.827 23.748C106.859 24.4895 105.665 24.876 104.445 24.843Z'
                ></path><path
                  class='pro-logo__text'
                  d='M115.765 25.0232C115.486 24.9191 115.233 24.7575 115.021 24.5489C114.81 24.3403 114.644 24.0895 114.536 23.8127C114.236 24.173 113.858 24.4598 113.43 24.6512C113.003 24.8426 112.537 24.9335 112.069 24.917C110.003 24.917 109.075 23.7758 109.075 22.2095C109.075 20.1211 110.646 19.0723 113.529 19.0723H114.134V18.6103C114.134 17.5754 113.958 17.0256 112.891 17.0256C111.588 17.0256 110.197 18.0559 110.197 18.0559L109.297 16.6329C110.419 15.8443 111.755 15.4156 113.127 15.4039C114.536 15.4039 115.478 15.9167 115.871 16.9008C116.033 17.2889 116.033 17.7741 116.014 19.1093L115.987 21.7151C115.987 22.9256 116.079 23.3183 116.772 23.7989L115.765 25.0232ZM113.737 20.403C111.778 20.403 111.186 20.9759 111.186 22.1171C111.186 22.9718 111.648 23.5032 112.434 23.5032C112.758 23.4891 113.074 23.398 113.356 23.2373C113.638 23.0765 113.878 22.8509 114.055 22.5791L114.092 20.4399C114.092 20.4399 113.866 20.3891 113.727 20.3891L113.737 20.403Z'
                ></path><path
                  class='pro-logo__text'
                  d='M123.989 24.649V18.6427C123.989 17.4137 123.702 17.0764 122.954 17.0764C122.196 17.1744 121.497 17.5339 120.977 18.0929V24.649H119.054V18.019C119.088 17.2915 118.972 16.565 118.713 15.8844L120.496 15.3854C120.709 15.778 120.819 16.2185 120.815 16.6652C121.78 15.8475 122.617 15.4224 123.587 15.4224C124.973 15.4224 125.939 16.2587 125.939 17.9127V24.649H123.989Z'
                ></path><path
                  class='pro-logo__text'
                  d='M134.874 25.0233C134.595 24.9199 134.342 24.7585 134.13 24.5499C133.918 24.3412 133.753 24.09 133.645 23.8128C133.345 24.1743 132.965 24.4619 132.536 24.6533C132.106 24.8448 131.639 24.935 131.169 24.917C129.099 24.917 128.175 23.7758 128.175 22.2095C128.175 20.1212 129.741 19.0724 132.629 19.0724H133.234V18.6103C133.234 17.5754 133.054 17.0256 131.987 17.0256C130.688 17.0256 129.298 18.0559 129.298 18.0559L128.424 16.6698C129.547 15.8812 130.883 15.4526 132.255 15.4409C133.664 15.4409 134.606 15.9537 134.999 16.9378C135.156 17.3259 135.156 17.811 135.138 19.1463L135.105 21.7152C135.105 22.9257 135.193 23.3184 135.891 23.7989L134.874 25.0233ZM132.841 20.403C130.882 20.403 130.296 20.9759 130.296 22.1171C130.296 22.9719 130.758 23.5032 131.543 23.5032C131.867 23.4891 132.184 23.398 132.466 23.2373C132.748 23.0766 132.987 22.851 133.165 22.5791L133.197 20.44C133.197 20.44 132.985 20.3891 132.86 20.3891L132.841 20.403Z'
                ></path><path
                  class='pro-logo__text'
                  d='M143.657 24.649C143.568 24.4261 143.513 24.1908 143.496 23.9514C143.21 24.2459 142.866 24.4774 142.486 24.631C142.105 24.7846 141.697 24.8568 141.287 24.8431C138.977 24.8431 137.591 23.0458 137.591 20.2228C137.591 17.3999 139.157 15.464 141.329 15.464C141.692 15.4542 142.054 15.5221 142.389 15.6631C142.725 15.8041 143.026 16.015 143.274 16.2818C143.274 16.2818 143.218 15.5887 143.218 14.8033V11.5183L145.159 11.8232V21.5257C145.159 23.3091 145.27 24.2193 145.445 24.6629L143.657 24.649ZM143.228 17.7741C143.024 17.5393 142.772 17.3518 142.489 17.2249C142.206 17.098 141.898 17.0347 141.587 17.0395C140.34 17.0395 139.772 18.0374 139.772 20.2136C139.772 22.2095 140.164 23.2029 141.643 23.2029C141.957 23.2057 142.267 23.1293 142.544 22.9807C142.821 22.8321 143.056 22.6161 143.228 22.3528V17.7741Z'
                ></path><path
                  class='pro-logo__text'
                  d='M153.984 25.0233C153.705 24.9199 153.451 24.7585 153.239 24.5499C153.027 24.3412 152.862 24.09 152.755 23.8128C152.454 24.1743 152.074 24.4619 151.645 24.6533C151.216 24.8448 150.748 24.935 150.278 24.917C148.213 24.917 147.284 23.7758 147.284 22.2095C147.284 20.1212 148.855 19.0724 151.738 19.0724H152.343V18.6103C152.343 17.5754 152.168 17.0256 151.096 17.0256C149.798 17.0256 148.407 18.0559 148.407 18.0559L147.534 16.6698C148.656 15.8812 149.992 15.4526 151.364 15.4409C152.773 15.4409 153.716 15.9537 154.108 16.9378C154.27 17.3259 154.27 17.811 154.251 19.1463L154.215 21.7152C154.215 22.9257 154.307 23.3184 155 23.7989L153.984 25.0233ZM151.955 20.403C149.992 20.403 149.405 20.9759 149.405 22.1171C149.405 22.9719 149.867 23.5032 150.652 23.5032C150.977 23.4891 151.293 23.398 151.575 23.2373C151.857 23.0766 152.097 22.851 152.274 22.5791L152.311 20.44C152.311 20.44 152.094 20.3891 151.955 20.3891V20.403Z'
                ></path><defs
                  ><radialGradient
                    id='paint0_radial'
                    cx='0'
                    cy='0'
                    r='1'
                    gradientUnits='userSpaceOnUse'
                    gradientTransform='translate(20.6005 12.3204) scale(16.5571)'
                    ><stop stop-color='white'></stop><stop
                      offset='0.06'
                      stop-color='#FBF1EC'></stop><stop
                      offset='0.24'
                      stop-color='#EFC5B1'></stop><stop
                      offset='0.43'
                      stop-color='#E4A081'></stop><stop
                      offset='0.6'
                      stop-color='#DC845B'></stop><stop
                      offset='0.75'
                      stop-color='#D77040'></stop><stop
                      offset='0.89'
                      stop-color='#D36330'></stop><stop
                      offset='1'
                      stop-color='#D25F2A'></stop></radialGradient
                  ></defs
                ></svg
              ></a
            >
            <nav class='dropdown-nav' id='utility-nav' aria-label='Utility'>
              <ul>
                <li class='desktop-only utility-nav__sponsor'>
                  <span>{t(`sponsored`)}</span>
                  <div class='tdlogo js--menu-link'>
                    <a class='nav-top__logo-a' href={t(`TDURL`)}>
                      <svg
                        width='144'
                        height='35'
                        viewBox='0 0 144 35'
                        fill='none'
                        xmlns='http://www.w3.org/2000/svg'
                      >
                        <title>{t('altTDlogo')}</title>
                        <path
                          class='pro-logo__text'
                          d='M2 2V32.9128H36.5657V2H2ZM24.6931 26.2249H16.6451V11.7213H20.6851V23.6562H24.5753C27.2602 23.6562 28.388 21.7961 28.388 17.007C28.388 12.1893 27.107 10.7887 24.3817 10.7887H15.5105V26.2266H11.5058V10.7887H5.63096V8.21321H25.629C30.4518 8.21321 32.7445 10.7096 32.7445 16.9666C32.7428 25.2149 29.3223 26.2249 24.6931 26.2249Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M51.9632 3.70522H49.3743V2H56.7422V3.70522H54.1516V11.595H51.9632V3.70522Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M70.189 2H73.6247C75.8921 2 77.328 2.92584 77.328 4.91218V4.96604C77.328 6.4154 76.4863 7.17964 75.3686 7.5163L77.8936 11.595H75.5706L73.3031 7.89169H72.3504V11.595H70.1906V2H70.189ZM73.5708 6.4154C74.6582 6.4154 75.2087 5.95921 75.2087 5.03338V4.97951C75.2087 4.01327 74.6178 3.65136 73.5708 3.65136H72.3504V6.4154H73.5708Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M78.9373 2H85.1909V3.69176H81.0987V5.93228H84.3728V7.52977H81.0987V9.90496H85.4063V11.595H78.9373V2Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M89.0694 2H91.8907L95.0049 11.595H92.7324L92.0473 9.44709H88.6133L87.9399 11.595H85.9031L89.0694 2ZM89.056 7.91862H91.6332L90.3454 3.77256L89.056 7.91862Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M95.9119 2H99.0513C102.418 2 104.084 3.82474 104.084 6.69652V6.80425C104.084 9.67603 102.401 11.595 99.0244 11.595H95.9119V2ZM98.9722 9.9117C100.905 9.9117 101.822 8.81752 101.822 6.83118V6.72345C101.822 4.75058 100.98 3.69344 98.9503 3.69344H98.0918V9.9117H98.9772H98.9722Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M57.8232 2H60.9644C64.331 2 65.9959 3.82474 65.9959 6.69652V6.80425C65.9959 9.67603 64.3125 11.595 60.9374 11.595H57.8232V2ZM60.8819 9.9117C62.8143 9.9117 63.7267 8.82426 63.7267 6.83792V6.73018C63.7267 4.75731 62.885 3.70017 60.8549 3.70017H59.9964V9.9117H60.8819Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M106.956 7.46244L103.79 2H106.179L108.123 5.6781L110.03 2H112.136L109.131 7.46244V11.595H106.956V7.46244Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M49.3424 18.9496V18.8418C49.3424 15.9296 51.3624 13.9433 54.1063 13.9433C56.4141 13.9433 58.1328 15.0577 58.3601 17.4329H56.133C55.9647 16.2781 55.3267 15.6603 54.113 15.6603C52.598 15.6603 51.6301 16.8386 51.6301 18.8284V18.9361C51.6301 20.9224 52.5425 22.0907 54.1265 22.0907C55.32 22.0907 56.1465 21.4729 56.3266 20.239H58.4611C58.2187 22.6142 56.5151 23.8346 54.1534 23.8346C51.014 23.8346 49.3357 21.8887 49.3357 18.9529'
                        ></path><path
                          class='pro-logo__text'
                          d='M59.1125 18.9495V18.8418C59.1125 15.9801 61.2066 13.9601 64.0515 13.9601C66.9367 13.9517 68.9971 15.9162 68.9971 18.7879V18.8957C68.9971 21.7674 67.0377 23.8346 64.0447 23.8346C61.0518 23.8346 59.1193 21.7674 59.1193 18.9529L59.1125 18.9495ZM66.728 18.926V18.8165C66.728 16.9497 65.7348 15.6754 64.0582 15.6754C62.3816 15.6754 61.38 16.8824 61.38 18.8334V18.9411C61.38 20.9005 62.4944 22.1075 64.0733 22.1075C65.7146 22.1024 66.7212 20.8534 66.7212 18.9226L66.728 18.926Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M70.1553 14.0914H73.0271L75.2827 20.0639L77.4829 14.0914H80.3008V23.6865H78.141V16.9767L75.483 23.6865H74.7727L72.1012 16.9767V23.6865H70.1553V14.0914Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M81.9773 14.0914H84.8491L87.1031 20.0639L89.3049 14.0914H92.1228V23.6865H89.9614V16.9767L87.3051 23.6865H86.5947L83.9232 16.9767V23.6865H81.9773V14.0914Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M96.1747 14.0914H93.9863V23.6865H96.1747V14.0914Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M99.9049 15.7967H97.3142V14.0914H104.682V15.7967H102.093V23.6865H99.9049V15.7967Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M105.768 14.0914H108.642L110.896 20.0639L113.096 14.0914H115.915V23.6865H113.754V16.9767L111.096 23.6865H110.385L107.714 16.9767V23.6865H105.768V14.0914Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M117.725 14.0914H123.978V15.7832H119.886V18.0237H123.16V19.6212H119.886V21.9964H124.194V23.6865H117.725V14.0914Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M125.441 14.0914H127.963L131.601 20.372V14.0914H133.546V23.6865H131.372L127.374 16.8959V23.6865H125.441V14.0914Z'
                        ></path><path
                          class='pro-logo__text'
                          d='M137.223 15.7967H134.632V14.0914H142V15.7967H139.41V23.6865H137.223V15.7967Z'
                        ></path></svg
                      ></a
                    >
                  </div>
                </li>
                <li>
                  <button
                    class='js--menu-link theme-toggle'
                    id='js--theme-toggle'
                    aria-pressed='true'
                    >{t(`lightMode`)}&nbsp;
                    <span> <span></span> </span>
                  </button>
                </li>
                <li>
                  <a
                    class='js--menu-link'
                    href={`${makeUrl(base, otherLocale)}`}
                  >
                    {t(`langTitle`)}
                  </a>
                </li>
                <li class='has-submenu desktop-only'>
                  <ProvincePicker />
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='nav-bottom d-print-none'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-sm-12'>
          <div class='d-flex justify-content-between mainmenu'>
            <nav
              class='dropdown-nav desktop-only'
              id='main-nav'
              aria-label='Main'
            >
              <ul>
                {
                  menu.map((i, index) => {
                    return (
                      <>
                        {index === 1 ? (
                          <li class='has-submenu'>
                            <button
                              class='js--sub-menu-trigger sub-menu-trigger'
                              id='dropdownMenuButton'
                              type='button'
                              data-toggle='dropdown'
                              aria-haspopup='true'
                              aria-expanded='false'
                            >
                              {t('menuDisabilityBen')}
                            </button>
                            <ul
                              class='dropdown-menu'
                              aria-labelledby='dropdownMenuButton'
                            >
                              {benefits?.map((b) => {
                                return (
                                  <li
                                    data-province-filter={
                                      getJurisdiction(b.fields.authority)?.code
                                    }
                                    data-province-hide-filter={
                                      b.fields.hideForProvinces
                                    }
                                  >
                                    <a
                                      class='js--sub-link'
                                      href={`${makeUrl(base, locale, getJurisdiction(b.fields.authority, locale)?.slug, b.fields?.slug as string)}`}
                                    >
                                      {b.fields.title}
                                    </a>
                                  </li>
                                )
                              })}
                              <li>
                                <a
                                  class='js--sub-link'
                                  href={`${makeUrl(base, locale, 'all-benefits')}`}
                                >
                                  {t('menuOtherBen')}
                                </a>
                              </li>
                            </ul>
                          </li>
                        ) : null}
                        <li>
                          <a
                            href={`${makeUrl(base, locale, i.slug as string)}`}
                            class={pageSlug === i.slug ? 'is-active' : null}
                          >
                            {i.title}
                          </a>
                        </li>
                      </>
                    )
                  })
                }
              </ul>
            </nav>
            <nav class='navbar navbar-expand-lg mobile-only'>
              <button
                class='navbar-toggler'
                type='button'
                data-toggle='collapse'
                data-target='#navbarSupportedContent'
                aria-controls='navbarSupportedContent'
                aria-expanded='false'
                aria-label='Toggle navigation'
              >
                <span class='bi bi-list'></span>
              </button>
              <div class='collapse navbar-collapse' id='navbarSupportedContent'>
                <ul class='navbar-nav mr-auto'>
                  {
                    menu.map((i, index) => {
                      return (
                        <>
                          {index === 1 ? (
                            <li class='nav-item dropdown'>
                              <a
                                class='jnav-link dropdown-toggle'
                                id='navbarDropdown'
                                role='button'
                                data-toggle='dropdown'
                                aria-haspopup='true'
                                aria-expanded='false'
                              >
                                {t('menuDisabilityBen')}
                              </a>
                              <ul
                                class='dropdown-menu benefits'
                                aria-labelledby='navbarDropdown'
                              >
                                {benefits?.map((b) => {
                                  return (
                                    <li
                                      data-province-filter={
                                        getJurisdiction(b.fields.authority)
                                          ?.code
                                      }
                                      data-province-hide-filter={
                                        b.fields.hideForProvinces
                                      }
                                    >
                                      <a
                                        class='dropdown-item'
                                        href={`${makeUrl(base, locale, getJurisdiction(b.fields.authority, locale)?.slug, b.fields?.slug as string)}`}
                                      >
                                        {b.fields.title}
                                      </a>
                                    </li>
                                  )
                                })}
                                <li>
                                  <a
                                    class='js--sub-link'
                                    href={`${makeUrl(base, locale, 'all-benefits')}`}
                                  >
                                    {t('menuOtherBen')}
                                  </a>
                                </li>
                              </ul>
                            </li>
                          ) : null}
                          <li class='nav-link'>
                            <a
                              href={`${makeUrl(base, locale, i.slug as string)}`}
                            >
                              {i.title}
                            </a>
                          </li>
                        </>
                      )
                    })
                  }

                  <div class='dropdown-divider'></div>
                  <li class='nav-item dropdown'>
                    <ProvincePickerMobile />
                  </li>
                  <div class='dropdown-divider'></div>
                  <li>
                    <a class='nav-link' href={`${makeUrl(base, otherLocale)}`}
                      >{t('langTitle')}</a
                    >
                  </li>
                </ul>
              </div>
            </nav>
            <a
              class='desktop-only js--menu-link btn-icon-right bi bi-arrow-up-right'
              href={t('bwURL')}
              target='_blank'
              rel='noopener'>{t('bwName')}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  import prepareThemeToggle from '../lib/themeToggle'
  import { filterContent } from '../lib/filterContent'
  import showProvincialDataOnly from '../lib/filterContent'

  // console.log('Heading clling showProvincialDataOnly ')
  // showProvincialDataOnly()
  prepareThemeToggle()

  // const provinceList = document.querySelector(
  //   '#navbarDropdown2 + ul.dropdown-menu'
  // ) as HTMLElement

  // // console.log('Header attach listener ')
  // provinceList.addEventListener('click', function (event) {
  //   // console.log('Header listener called ')
  //   event.preventDefault()
  //   const targetElement = event.target
  //   //@ts-ignore
  //   const closest = targetElement?.closest('.js--sub-link')
  //   if (closest) {
  //     const provinceCode = closest.getAttribute('data-province') as string
  //     console.log('FILTER A')
  //     filterContent(provinceCode)
  //   }
  //   // console.log('in resourcepage calling showProvincialDataOnly()')
  //   // showProvincialDataOnly()

  //   // console.log('in resourcepage calling hideEmptyAgency()')
  //   // hideEmptyAgency()
  // })
</script>
