---
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const base = import.meta.env.BASE_URL
---

<a href={`${base}${lang === 'fr' ? '' : 'fr/'}`}>{t('langTitle')}</a>
