:root {
    --card-padding: 1.25rem;
    @media (min-width: 768px) {
        --card-padding: 1.875rem;
    }
}

.dashboard-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    
    li {
        display: inline-block;
    }
}

.dashboard-nav-container {
    padding: 1rem var(--card-padding);
    background-color: var(--light);

    &[data-results='no'] {
        .dashboard-nav {
            display: none;
        }
    }
}