.heading {
    padding: 4rem 0;
    &>* {
        margin-bottom: 1rem;
    }
    &--questionnaire {
        padding-bottom: 2rem;
    }
    &--benefit {
        border-bottom: 1px solid var(--c-i-border);
        padding-bottom: 1rem;
        margin-bottom: 4rem;
    }
}

.benefit-page-content {
    border-bottom: 1px solid var(--c-i-border);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.callout--automatic {
    background-color: rgba(26, 134, 51, 0.05);
    border: 1px solid var(--success);
    padding: 1rem;
    border-radius: 0.375rem;
    .bi {
        color: var(--success);
    }
    &>* {
        margin-bottom: 0.25rem;
    }
}