.overwhelmed {
    background-color: var(--light-brown-tint);
    padding: 1rem 2.5rem 0.75rem 1rem;
    position: relative;
    &>* {
        margin-bottom: 0.5rem;
    }
    .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: var(--body);
        opacity: 1;
    }
    &--small {
        padding: 0.5rem 2rem 0.25rem 0.5rem;
        .close {
            top: 0.5rem;
            right: 0.5rem;
        }
    }

    .light-theme & {
        background-color: var(--lt-secondary);
    }
}